services:
  postgres:
    image: postgres:17.5
    restart: unless-stopped
    container_name: speedway-almanac
    ports:
      - '8888:5432'
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}